src/flows/AddDefaultProducts-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>CheckOpportunityType</name>
        <label>Check Opportunity Type</label>
        <locationX>243</locationX>
        <locationY>133</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>NewCustomers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddSL9020Product</targetReference>
            </connector>
            <label>New Customers</label>
        </rules>
        <rules>
            <name>ExistingCustomers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityType</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Existing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddSL9060Product</targetReference>
            </connector>
            <label>Existing Customers</label>
        </rules>
    </decisions>
    <label>Add Default Products</label>
    <recordLookups>
        <name>QueryOpportunity</name>
        <label>Query Opportunity</label>
        <locationX>243</locationX>
        <locationY>36</locationY>
        <connector>
            <targetReference>CheckOpportunityType</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>OpportunityType</assignToReference>
            <field>Type</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>QueryOpportunity</startElementReference>
    <subflows>
        <name>AddIN7040</name>
        <label>Add IN7040</label>
        <locationX>109</locationX>
        <locationY>328</locationY>
        <flowName>InsertOpportunityLine</flowName>
        <inputAssignments>
            <name>OpportunityId</name>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProductCode</name>
            <value>
                <stringValue>IN7040</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Quantity</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TotalPrice</name>
            <value>
                <numberValue>1234.0</numberValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>AddIN7080Product</name>
        <label>Add IN7080 Product</label>
        <locationX>345</locationX>
        <locationY>333</locationY>
        <flowName>InsertOpportunityLine</flowName>
        <inputAssignments>
            <name>OpportunityId</name>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProductCode</name>
            <value>
                <stringValue>IN7080</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Quantity</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TotalPrice</name>
            <value>
                <numberValue>4232.0</numberValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>AddSL9020Product</name>
        <label>Add SL9020 Product</label>
        <locationX>110</locationX>
        <locationY>233</locationY>
        <connector>
            <targetReference>AddIN7040</targetReference>
        </connector>
        <flowName>InsertOpportunityLine</flowName>
        <inputAssignments>
            <name>OpportunityId</name>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProductCode</name>
            <value>
                <stringValue>SL9020</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Quantity</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TotalPrice</name>
            <value>
                <numberValue>2000.0</numberValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>AddSL9060Product</name>
        <label>Add SL9060 Product</label>
        <locationX>346</locationX>
        <locationY>239</locationY>
        <connector>
            <targetReference>AddIN7080Product</targetReference>
        </connector>
        <flowName>InsertOpportunityLine</flowName>
        <inputAssignments>
            <name>OpportunityId</name>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProductCode</name>
            <value>
                <stringValue>SL9060</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Quantity</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TotalPrice</name>
            <value>
                <numberValue>1235.0</numberValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityType</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
